extends wrapper

block main
    div.col-lg-1.col-md-1.col-sm-10(style="background-color:red;")
    div
        ul
            li
                a(href="#why") Why?
            li
                a(href="#blocks") Blocks
            li
                a(href="#inline") Inline
            li
                a(href="#math") Math


    div.col-lg-8.col-md-8.col-sm-10(style="background-color:red;")

