doctype html

head
    title Pipe

    link(rel="stylesheet", href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css")

body
    div.navbar.navbar-bg
        ul.nav.navbar-nav
            li
                a(href="../public/index.html") Home
            li
                a(href="../public/demo.html") Playground
            li
                a(href="../public/docs.html") Documentation

    block main
